<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/register}">Register</a>

    <h3>Hello <span th:text="${username}">Guest</span>!!!</h3>


    <p th:text="${authenticated} ? 'Add note' : 'Register to add a/the note'">Add note</p>
    <form method="post" action="">
        <input name="name" id="name" type="text">
        <label for="name">Note name</label><br>ф
        <textarea name="description" id="description"></textarea>
        <label for="description">Description:</label>
        <button type="submit">add</button>
    </form>

    <div th:each="note : ${notes}">
        <h1 th:text="${note.name}">Name</h1>
        <span th:text="${note.description}">Description</span>
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>